# Generic file types
*~
**/__pycache__
.DS_Store
# Particular files
Trolltech.conf
.isolated-storage/**
broot/launcher
emacs/.cache
emacs/elpa
emacs/eshell
emacs/org-roam.db
emacs/recentf
emacs/transient/**
emacs/url
exercism/user.json
fish/fish_variables
fish/fisher/**
fish/functions/br.fish
fisher/**
gnupg/.#*
gnupg/.gpg-card_history
gnupg/*.d/**
gnupg/pubring.kbx*
gnupg/random_seed
gnupg/*.status
gnupg/S.*
gnupg/*.db
gnupg/trustdb.gpg
gtk-2.0/**
jasper/**
jj/repos/**
kak/autoload/autoload
kak/colors/kakoune-selenized
kak/plugins/**
kak-tree-sitter/grammars/**
kak-tree-sitter/queries/**
less/keys
MusicBrainz/**
node_modules/**
octave/**
plover/.cache
plover/clippy_2.org
plover/plover.log
plover/plugins
pulse/**
ssh/id_*
ssh/known_hosts
swi-prolog/**
tmux/plugins/**
vim/pack/minpac/start/**
vim/.netrwhist
wireshark/**
