**/__pycache__
fish/fish_history
Trolltech.conf
fish/fishd.*
fish/fish_variables
jasper/**
MusicBrainz/**
.isolated-storage/**
vim/pack/minpac/start/**
vim/.netrwhist
tmux/plugins/**
kak/plugins/**
kak/autoload/autoload
gtk-2.0/**
*~
emacs.d/elpa
