[submodule "vim/pack/minpac/opt/minpac"]
	path = vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "externals/st"]
	path = externals/st
	url = git@github.com:bentitmus/st.git
[submodule "kak/plugins/plug.kak"]
	path = kak/plugins/plug.kak
	url = https://github.com/andreyorst/plug.kak.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "talon/user/community"]
	path = talon/user/community
	url = https://github.com/talonhub/community
[submodule "talon/user/cursorless-talon"]
	path = talon/user/cursorless-talon
	url = https://github.com/cursorless-dev/cursorless-talon.git
[submodule "talon/user/rango-talon"]
	path = talon/user/rango-talon
	url = https://github.com/david-tejada/rango-talon
[submodule "plover/didoesdigital-steno-dictionaries"]
	path = plover/didoesdigital-steno-dictionaries
	url = https://github.com/didoesdigital/steno-dictionaries.git
[submodule "plover/emily-modifiers"]
	path = plover/emily-modifiers
	url = https://github.com/EPLHREU/emily-modifiers.git
[submodule "plover/emily-symbols"]
	path = plover/emily-symbols
	url = https://github.com/EPLHREU/emily-symbols.git
[submodule "plover/plover_phrasing"]
	path = plover/plover_phrasing
	url = https://github.com/Jade-GG/plover_phrasing.git
