# Generic file types
*~
**/__pycache__
# Particular files
Trolltech.conf
.isolated-storage/**
broot/launcher
emacs/elpa
emacs/eshell
emacs/url
fish/fish_history
fish/fishd.*
fish/fish_variables
fish/fisher/**
fisher/**
gtk-2.0/**
jasper/**
kak/plugins/**
kak/autoload/autoload
less/keys
MusicBrainz/**
octave/**
ssh/known_hosts
swi-prolog/dir-history
tmux/plugins/**
vim/pack/minpac/start/**
vim/.netrwhist
